<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
	<HEAD>
		<TITLE>%$title$%</TITLE>
		<link rel="stylesheet" type="text/css" href="index.css" />
	</HEAD>
	<BODY>
		<h1>%$title$%</h1>
		<table>
			<tbody>
				<tr>
					<th>Document Name</th>
					<th>Description</th>
				</tr>
				%$index_list$%
			</tbody>
		</table>
	</BODY>
</HTML>
